.content{
    margin: 2rem 3rem;
}
.mainBox{
    display: flex;
}
.imageBox{
    color: blue;
    font-weight: bold;
}
.imageBox img{
    border-radius: 2rem;
}
.textBox{
    margin-left: 3rem;
}
.cardContainer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.card{
    background-color: rgb(154, 199, 212);
    padding: 0 1rem;
    margin: 0 0.5rem;
    width: 30%;
}
.card h4{
    margin-top: 1px;
}