
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
h1{
  font-size: 5rem;
}
button{
  border: none;
  background-color: rgb(233, 90, 33);
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  color: white;
  border-radius: 15px;
}
