body{
  background: linear-gradient(270deg,rgb(204, 203, 202), rgb(224, 238, 255));
}
.content{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 987px) {
  .content{
    display: flex;
    flex-direction: column;
  }
}