.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
button {
  background-color: rgb(241, 69, 69);
  color: white;
  border: none;
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
}
